In [131]:
## creating hw notebook.

## a lot of this draws from the Ins_Splinter.ipynb example

NASA Mars News

In [132]:
from splinter import Browser
from bs4 import BeautifulSoup

In [184]:
# identify location of chromedriver and store it as a variable
driverPath = !which chromedriver

# Setup configuration variables to enable Splinter to interact with browser
executable_path = {'executable_path': driverPath[0]}
browser = Browser('chrome', **executable_path, headless=False)

In [185]:
url = 'https://mars.nasa.gov/news/'
browser.visit(url)

In [186]:
# It looks like there is only one page, so no loop needed:

html = browser.html
soup = BeautifulSoup(html, 'html.parser')

In [187]:
#print(soup.prettify())

In [188]:
# From the page html it looks like the title is inside a <div> tag called 'content title'
# The paragraph text is also in a <div> tag called 'article_teaser_body'

# Using BS, execute the functions to capture the content title and article teaser body content
news_title = soup.find('li', attrs = {'class':'slide'}).find('h3').text
news_p = soup.find('div', class_= 'article_teaser_body').text

In [189]:
type(news_title)

str

In [190]:
type(news_p)

str

In [191]:
# Print returns

Title: NASA's Perseverance Rover Is Midway to Mars
Teaser: Sometimes half measures can be a good thing – especially on a journey this long. The agency's latest rover only has about 146 million miles left to reach its destination.

In [192]:
browser.quit()

JPL Featured Image

In [142]:
# unsure if I have to re-load the chromedriver -- will revisit if this fails
# turns out, connection refused, so I'd say yes :)

driverPath = !which chromedriver
executable_path = {'executable_path': driverPath[0]}
browser = Browser('chrome', **executable_path, headless=False)

In [143]:
url = 'https://www.jpl.nasa.gov/spaceimages/?search=&category=Mars'
browser.visit(url)

In [144]:
html = browser.html
soup = BeautifulSoup(html, 'html.parser')

In [145]:
# featured_image = soup.find('article', class_='carousel_items')['style']
#.                            'article'                      '['style']
#.                            'div'                            .jpg
## have to figure out how to dig into this item and pul the article atl

## after searching the sight and clicking/inspecting 'full image', we want the medium size image 
images = soup.find_all('a', class_='fancybox')
# images

In [146]:
# there were multi images within the main page -- my classmates and I were a bit confused as it states
# that we're looking for the large image.  however, as stated above, when searching the full image
# it states that it's the medium image class.   even so - looping thru for others. 

medium_image = []
for image in images:
    photo = image['data-fancybox-href']
    medium_image.append(photo)
    

featured_image_url = 'https://www.jpl.nasa.gov' + photo

print(featured_image_url)

https://www.jpl.nasa.gov/spaceimages/images/largesize/PIA24118_hires.jpg

In [148]:
## only 1! so that's correct. 

browser.quit()

Mars Facts

In [149]:
import os
import json
import requests
import pandas as pd

In [150]:
mars_facts_df = pd.read_html('https://space-facts.com/mars/')
mars_facts_df

[                      0                              1
 0  Equatorial Diameter:                       6,792 km
 1       Polar Diameter:                       6,752 km
 2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
 3                Moons:            2 (Phobos & Deimos)
 4       Orbit Distance:       227,943,824 km (1.38 AU)
 5         Orbit Period:           687 days (1.9 years)
 6  Surface Temperature:                   -87 to -5 °C
 7         First Record:              2nd millennium BC
 8          Recorded By:           Egyptian astronomers,
   Mars - Earth Comparison             Mars            Earth
 0               Diameter:         6,779 km        12,742 km
 1                   Mass:  6.39 × 10^23 kg  5.97 × 10^24 kg
 2                  Moons:                2                1
 3      Distance from Sun:   227,943,824 km   149,598,262 km
 4         Length of Year:   687 Earth days      365.24 days
 5            Temperature:     -87 to -5 °C      -88 to 58°C,
                       0                              1
 0  Equatorial Diameter:                       6,792 km
 1       Polar Diameter:                       6,752 km
 2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
 3                Moons:            2 (Phobos & Deimos)
 4       Orbit Distance:       227,943,824 km (1.38 AU)
 5         Orbit Period:           687 days (1.9 years)
 6  Surface Temperature:                   -87 to -5 °C
 7         First Record:              2nd millennium BC
 8          Recorded By:           Egyptian astronomers]

In [77]:
# facts_in_html = mars_facts_df.to_html(index=True)
# facts_in_html

type(mars_facts_df)

list

In [78]:
# how many tables are there?
len(mars_facts_df)

3

In [70]:
# so, this is not actually a df, it's a list.
# I think I can crate a df if I pull items from it.

In [72]:
a = mars_facts_df[0]
a

                      0                              1
0  Equatorial Diameter:                       6,792 km
1       Polar Diameter:                       6,752 km
2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
3                Moons:            2 (Phobos & Deimos)
4       Orbit Distance:       227,943,824 km (1.38 AU)
5         Orbit Period:           687 days (1.9 years)
6  Surface Temperature:                   -87 to -5 °C
7         First Record:              2nd millennium BC
8          Recorded By:           Egyptian astronomers

In [74]:
facts_in_html_a = a.to_html()
facts_in_html_a

'<table border="1" class="dataframe">\n  <thead>\n    <tr style="text-align: right;">\n      <th></th>\n      <th>0</th>\n      <th>1</th>\n    </tr>\n  </thead>\n  <tbody>\n    <tr>\n      <th>0</th>\n      <td>Equatorial Diameter:</td>\n      <td>6,792 km</td>\n    </tr>\n    <tr>\n      <th>1</th>\n      <td>Polar Diameter:</td>\n      <td>6,752 km</td>\n    </tr>\n    <tr>\n      <th>2</th>\n      <td>Mass:</td>\n      <td>6.39 × 10^23 kg (0.11 Earths)</td>\n    </tr>\n    <tr>\n      <th>3</th>\n      <td>Moons:</td>\n      <td>2 (Phobos &amp; Deimos)</td>\n    </tr>\n    <tr>\n      <th>4</th>\n      <td>Orbit Distance:</td>\n      <td>227,943,824 km (1.38 AU)</td>\n    </tr>\n    <tr>\n      <th>5</th>\n      <td>Orbit Period:</td>\n      <td>687 days (1.9 years)</td>\n    </tr>\n    <tr>\n      <th>6</th>\n      <td>Surface Temperature:</td>\n      <td>-87 to -5 °C</td>\n    </tr>\n    <tr>\n      <th>7</th>\n      <td>First Record:</td>\n      <td>2nd millennium BC</td>\n    </tr>\n    <tr>\n      <th>8</th>\n      <td>Recorded By:</td>\n      <td>Egyptian astronomers</td>\n    </tr>\n  </tbody>\n</table>'

In [79]:
b = mars_facts_df[1]
b

  Mars - Earth Comparison             Mars            Earth
0               Diameter:         6,779 km        12,742 km
1                   Mass:  6.39 × 10^23 kg  5.97 × 10^24 kg
2                  Moons:                2                1
3      Distance from Sun:   227,943,824 km   149,598,262 km
4         Length of Year:   687 Earth days      365.24 days
5            Temperature:     -87 to -5 °C      -88 to 58°C

In [80]:
facts_in_html_b = b.to_html()
facts_in_html_b

'<table border="1" class="dataframe">\n  <thead>\n    <tr style="text-align: right;">\n      <th></th>\n      <th>Mars - Earth Comparison</th>\n      <th>Mars</th>\n      <th>Earth</th>\n    </tr>\n  </thead>\n  <tbody>\n    <tr>\n      <th>0</th>\n      <td>Diameter:</td>\n      <td>6,779 km</td>\n      <td>12,742 km</td>\n    </tr>\n    <tr>\n      <th>1</th>\n      <td>Mass:</td>\n      <td>6.39 × 10^23 kg</td>\n      <td>5.97 × 10^24 kg</td>\n    </tr>\n    <tr>\n      <th>2</th>\n      <td>Moons:</td>\n      <td>2</td>\n      <td>1</td>\n    </tr>\n    <tr>\n      <th>3</th>\n      <td>Distance from Sun:</td>\n      <td>227,943,824 km</td>\n      <td>149,598,262 km</td>\n    </tr>\n    <tr>\n      <th>4</th>\n      <td>Length of Year:</td>\n      <td>687 Earth days</td>\n      <td>365.24 days</td>\n    </tr>\n    <tr>\n      <th>5</th>\n      <td>Temperature:</td>\n      <td>-87 to -5 °C</td>\n      <td>-88 to 58°C</td>\n    </tr>\n  </tbody>\n</table>'

In [83]:
c = mars_facts_df[2]
c

                      0                              1
0  Equatorial Diameter:                       6,792 km
1       Polar Diameter:                       6,752 km
2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
3                Moons:            2 (Phobos & Deimos)
4       Orbit Distance:       227,943,824 km (1.38 AU)
5         Orbit Period:           687 days (1.9 years)
6  Surface Temperature:                   -87 to -5 °C
7         First Record:              2nd millennium BC
8          Recorded By:           Egyptian astronomers

In [84]:
## isn't this the same as table 1?
facts_in_html_c = c.to_html()
facts_in_html_c

'<table border="1" class="dataframe">\n  <thead>\n    <tr style="text-align: right;">\n      <th></th>\n      <th>0</th>\n      <th>1</th>\n    </tr>\n  </thead>\n  <tbody>\n    <tr>\n      <th>0</th>\n      <td>Equatorial Diameter:</td>\n      <td>6,792 km</td>\n    </tr>\n    <tr>\n      <th>1</th>\n      <td>Polar Diameter:</td>\n      <td>6,752 km</td>\n    </tr>\n    <tr>\n      <th>2</th>\n      <td>Mass:</td>\n      <td>6.39 × 10^23 kg (0.11 Earths)</td>\n    </tr>\n    <tr>\n      <th>3</th>\n      <td>Moons:</td>\n      <td>2 (Phobos &amp; Deimos)</td>\n    </tr>\n    <tr>\n      <th>4</th>\n      <td>Orbit Distance:</td>\n      <td>227,943,824 km (1.38 AU)</td>\n    </tr>\n    <tr>\n      <th>5</th>\n      <td>Orbit Period:</td>\n      <td>687 days (1.9 years)</td>\n    </tr>\n    <tr>\n      <th>6</th>\n      <td>Surface Temperature:</td>\n      <td>-87 to -5 °C</td>\n    </tr>\n    <tr>\n      <th>7</th>\n      <td>First Record:</td>\n      <td>2nd millennium BC</td>\n    </tr>\n    <tr>\n      <th>8</th>\n      <td>Recorded By:</td>\n      <td>Egyptian astronomers</td>\n    </tr>\n  </tbody>\n</table>'

Mars Hemispheres

In [251]:
driverPath = !which chromedriver
executable_path = {'executable_path': driverPath[0]}
browser = Browser('chrome', **executable_path, headless=False)

In [251]:
#hemisphere1  = soup.find("img", attrs = {"class": "wide-image"}) ??

# Getting image url
# cerberus = soup.find('img', class_='wide-image')['src']
# cerberus_url = ('https://astrogeology.usgs.gov/' + str(cerberus)) 
# cerberus_url
#https://astrogeology.usgs.gov/search/results?q=hemisphere+enhanced&k1=target&v1=Mars

In [251]:
## From slinter example: ######

# for x in range(1, 6):

#     # Splinter can capture a page's underlying html and use pass it to BeautifulSoup to allow us to scrape the content
#     html = browser.html
#     soup = BeautifulSoup(html, 'html.parser')

#     # Using BS, we can execute standard functions to capture the page's content
#     quotes = soup.find_all('span', class_='text')

#     # The below loop will print out the current page number and the quote's text
#     for quote in quotes:
#         print('page:', x, '-------------')
#         print(quote.text)

#     browser.click_link_by_partial_text('Next')

In [252]:
# Visting url througher splinter browser
url = 'https://astrogeology.usgs.gov/search/results?q=hemisphere+enhanced&k1=target&v1=Mars'
browser.visit(url)

# Using Beatiful soup to parse the html in the designated url
# html = browser.html
# soup = BeautifulSoup(html, "html.parser")
# # print(soup.prettify())

In [254]:
## ok,  I can do it for one -- I could do it manually like that that for each and append to a dict.
## however, I think I can just simply loop for all. 

# Empty list for results 
mars_final = []

In [255]:
# Can simply loop through to pull each:

for hemisphere in hemispheres:
    title = hemisphere.find('h3').text
    link = hemisphere.find('a')['href']
    url = 'https://astrogeology.usgs.gov/'+link
    browser.visit(url)
    html = browser.html
    soup = BeautifulSoup(html, 'html.parser')
    dl = soup.find('div', class_='downloads')
    image = dl.find('a')['href']
    mars_final.append({'title':title, 'url': image})

In [256]:
print(mars_final)

[{'title': 'Cerberus Hemisphere Enhanced', 'url': 'https://astropedia.astrogeology.usgs.gov/download/Mars/Viking/cerberus_enhanced.tif/full.jpg'}, {'title': 'Schiaparelli Hemisphere Enhanced', 'url': 'https://astropedia.astrogeology.usgs.gov/download/Mars/Viking/schiaparelli_enhanced.tif/full.jpg'}, {'title': 'Syrtis Major Hemisphere Enhanced', 'url': 'https://astropedia.astrogeology.usgs.gov/download/Mars/Viking/syrtis_major_enhanced.tif/full.jpg'}, {'title': 'Valles Marineris Hemisphere Enhanced', 'url': 'https://astropedia.astrogeology.usgs.gov/download/Mars/Viking/valles_marineris_enhanced.tif/full.jpg'}]

In [257]:
browser.quit()

In [ ]:
# hemisphere_image_urls = [
#     {"title": "Valles Marineris Hemisphere", "img_url": "..."},
#     {"title": "Cerberus Hemisphere", "img_url": "..."},
#     {"title": "Schiaparelli Hemisphere", "img_url": "..."},
#     {"title": "Syrtis Major Hemisphere", "img_url": "..."},
# ]