In [1]:
## creating hw notebook.

## a lot of this draws from the Ins_Splinter.ipynb example

NASA Mars News

In [2]:
from splinter import Browser
from bs4 import BeautifulSoup

In [3]:
# identify location of chromedriver and store it as a variable
driverPath = !which chromedriver

# Setup configuration variables to enable Splinter to interact with browser
executable_path = {'executable_path': driverPath[0]}
browser = Browser('chrome', **executable_path, headless=False)

In [4]:
url = 'https://mars.nasa.gov/news/'
browser.visit(url)

In [5]:
# It looks like there is only one page, so no loop needed:

html = browser.html
soup = BeautifulSoup(html, 'html.parser')

In [11]:
#print(soup.prettify())

In [13]:
# From the page html it looks like the title is inside a <div> tag called 'content title'
# The paragraph text is also in a <div> tag called 'article_teaser_body'

# Using BS, execute the functions to capture the content title and article teaser body content
news_title = soup.find('div', class_= 'content_title').text
news_p = soup.find('div.', class_= 'article_teaser_body').text

AttributeError: 'NoneType' object has no attribute 'text'

In [12]:
# Print returns
print(f" Title : {news_title}")
print(f" Teaser : {news_p}")

 Title : Mars Now

NameError: name 'news_p' is not defined

In [156]:
browser.quit()

JPL Featured Image

In [32]:
# unsure if I have to re-load the chromedriver -- will revisit if this fails
# turns out, connection refused, so I'd say yes :)

driverPath = !which chromedriver
executable_path = {'executable_path': driverPath[0]}
browser = Browser('chrome', **executable_path, headless=False)

In [33]:
url = 'https://www.jpl.nasa.gov/spaceimages/?search=&category=Mars'
browser.visit(url)

In [46]:
html = browser.html
soup = BeautifulSoup(html, 'html.parser')
#html5
#html.parser

In [43]:
featured_image = soup.find('article', class_='carousel_items')['style']
#.                            'article'                      '['style']
#.                            'div'                            .jpg
## have to figure out how to dig into this item and pul the article atl

print(featured_image_url)

TypeError: 'NoneType' object is not subscriptable

In [44]:
#featured_image_url = soup.find('div', class_='fancybox-image').jpg


# Get the image url for the space image

featured_image_url = featured_image.split("url")[1]
featured_image_url = featured_image_url.split("'")[1]
featured_image_url = ('https://www.jpl.nasa.gov' + str(featured_image_url))

featured_image_url
print(featured_image_url)

AttributeError: 'NoneType' object has no attribute 'split'

In [45]:
# images = soup.find_all('a', class_='fancbox')

# medium_image = []
# for image in images:
#     pic = image['data-fancyboc-href']
#     medium_image.append(pic)
    
# medium_image

# featured_image_url = 'https://www.jpl.nasa.gov' + pic

# print(featured_image_url)

In [ ]:
browser.quit()

Mars Facts

In [62]:
import os
import json
import requests
import pandas as pd

In [63]:
mars_facts_df = pd.read_html('https://space-facts.com/mars/')
mars_facts_df

[                      0                              1
 0  Equatorial Diameter:                       6,792 km
 1       Polar Diameter:                       6,752 km
 2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
 3                Moons:            2 (Phobos & Deimos)
 4       Orbit Distance:       227,943,824 km (1.38 AU)
 5         Orbit Period:           687 days (1.9 years)
 6  Surface Temperature:                   -87 to -5 °C
 7         First Record:              2nd millennium BC
 8          Recorded By:           Egyptian astronomers,
   Mars - Earth Comparison             Mars            Earth
 0               Diameter:         6,779 km        12,742 km
 1                   Mass:  6.39 × 10^23 kg  5.97 × 10^24 kg
 2                  Moons:                2                1
 3      Distance from Sun:   227,943,824 km   149,598,262 km
 4         Length of Year:   687 Earth days      365.24 days
 5            Temperature:     -87 to -5 °C      -88 to 58°C,
                       0                              1
 0  Equatorial Diameter:                       6,792 km
 1       Polar Diameter:                       6,752 km
 2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
 3                Moons:            2 (Phobos & Deimos)
 4       Orbit Distance:       227,943,824 km (1.38 AU)
 5         Orbit Period:           687 days (1.9 years)
 6  Surface Temperature:                   -87 to -5 °C
 7         First Record:              2nd millennium BC
 8          Recorded By:           Egyptian astronomers]

In [77]:
# facts_in_html = mars_facts_df.to_html(index=True)
# facts_in_html

type(mars_facts_df)

list

In [78]:
# how many tables are there?
len(mars_facts_df)

3

In [70]:
# so, this is not actually a df, it's a list.
# I think I can crate a df if I pull items from it.

In [72]:
a = mars_facts_df[0]
a

                      0                              1
0  Equatorial Diameter:                       6,792 km
1       Polar Diameter:                       6,752 km
2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
3                Moons:            2 (Phobos & Deimos)
4       Orbit Distance:       227,943,824 km (1.38 AU)
5         Orbit Period:           687 days (1.9 years)
6  Surface Temperature:                   -87 to -5 °C
7         First Record:              2nd millennium BC
8          Recorded By:           Egyptian astronomers

In [74]:
facts_in_html_a = a.to_html()
facts_in_html_a

'<table border="1" class="dataframe">\n  <thead>\n    <tr style="text-align: right;">\n      <th></th>\n      <th>0</th>\n      <th>1</th>\n    </tr>\n  </thead>\n  <tbody>\n    <tr>\n      <th>0</th>\n      <td>Equatorial Diameter:</td>\n      <td>6,792 km</td>\n    </tr>\n    <tr>\n      <th>1</th>\n      <td>Polar Diameter:</td>\n      <td>6,752 km</td>\n    </tr>\n    <tr>\n      <th>2</th>\n      <td>Mass:</td>\n      <td>6.39 × 10^23 kg (0.11 Earths)</td>\n    </tr>\n    <tr>\n      <th>3</th>\n      <td>Moons:</td>\n      <td>2 (Phobos &amp; Deimos)</td>\n    </tr>\n    <tr>\n      <th>4</th>\n      <td>Orbit Distance:</td>\n      <td>227,943,824 km (1.38 AU)</td>\n    </tr>\n    <tr>\n      <th>5</th>\n      <td>Orbit Period:</td>\n      <td>687 days (1.9 years)</td>\n    </tr>\n    <tr>\n      <th>6</th>\n      <td>Surface Temperature:</td>\n      <td>-87 to -5 °C</td>\n    </tr>\n    <tr>\n      <th>7</th>\n      <td>First Record:</td>\n      <td>2nd millennium BC</td>\n    </tr>\n    <tr>\n      <th>8</th>\n      <td>Recorded By:</td>\n      <td>Egyptian astronomers</td>\n    </tr>\n  </tbody>\n</table>'

In [79]:
b = mars_facts_df[1]
b

  Mars - Earth Comparison             Mars            Earth
0               Diameter:         6,779 km        12,742 km
1                   Mass:  6.39 × 10^23 kg  5.97 × 10^24 kg
2                  Moons:                2                1
3      Distance from Sun:   227,943,824 km   149,598,262 km
4         Length of Year:   687 Earth days      365.24 days
5            Temperature:     -87 to -5 °C      -88 to 58°C

In [80]:
facts_in_html_b = b.to_html()
facts_in_html_b

'<table border="1" class="dataframe">\n  <thead>\n    <tr style="text-align: right;">\n      <th></th>\n      <th>Mars - Earth Comparison</th>\n      <th>Mars</th>\n      <th>Earth</th>\n    </tr>\n  </thead>\n  <tbody>\n    <tr>\n      <th>0</th>\n      <td>Diameter:</td>\n      <td>6,779 km</td>\n      <td>12,742 km</td>\n    </tr>\n    <tr>\n      <th>1</th>\n      <td>Mass:</td>\n      <td>6.39 × 10^23 kg</td>\n      <td>5.97 × 10^24 kg</td>\n    </tr>\n    <tr>\n      <th>2</th>\n      <td>Moons:</td>\n      <td>2</td>\n      <td>1</td>\n    </tr>\n    <tr>\n      <th>3</th>\n      <td>Distance from Sun:</td>\n      <td>227,943,824 km</td>\n      <td>149,598,262 km</td>\n    </tr>\n    <tr>\n      <th>4</th>\n      <td>Length of Year:</td>\n      <td>687 Earth days</td>\n      <td>365.24 days</td>\n    </tr>\n    <tr>\n      <th>5</th>\n      <td>Temperature:</td>\n      <td>-87 to -5 °C</td>\n      <td>-88 to 58°C</td>\n    </tr>\n  </tbody>\n</table>'

In [83]:
c = mars_facts_df[2]
c

                      0                              1
0  Equatorial Diameter:                       6,792 km
1       Polar Diameter:                       6,752 km
2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
3                Moons:            2 (Phobos & Deimos)
4       Orbit Distance:       227,943,824 km (1.38 AU)
5         Orbit Period:           687 days (1.9 years)
6  Surface Temperature:                   -87 to -5 °C
7         First Record:              2nd millennium BC
8          Recorded By:           Egyptian astronomers

In [84]:
## isn't this the same as table 1?
facts_in_html_c = c.to_html()
facts_in_html_c

'<table border="1" class="dataframe">\n  <thead>\n    <tr style="text-align: right;">\n      <th></th>\n      <th>0</th>\n      <th>1</th>\n    </tr>\n  </thead>\n  <tbody>\n    <tr>\n      <th>0</th>\n      <td>Equatorial Diameter:</td>\n      <td>6,792 km</td>\n    </tr>\n    <tr>\n      <th>1</th>\n      <td>Polar Diameter:</td>\n      <td>6,752 km</td>\n    </tr>\n    <tr>\n      <th>2</th>\n      <td>Mass:</td>\n      <td>6.39 × 10^23 kg (0.11 Earths)</td>\n    </tr>\n    <tr>\n      <th>3</th>\n      <td>Moons:</td>\n      <td>2 (Phobos &amp; Deimos)</td>\n    </tr>\n    <tr>\n      <th>4</th>\n      <td>Orbit Distance:</td>\n      <td>227,943,824 km (1.38 AU)</td>\n    </tr>\n    <tr>\n      <th>5</th>\n      <td>Orbit Period:</td>\n      <td>687 days (1.9 years)</td>\n    </tr>\n    <tr>\n      <th>6</th>\n      <td>Surface Temperature:</td>\n      <td>-87 to -5 °C</td>\n    </tr>\n    <tr>\n      <th>7</th>\n      <td>First Record:</td>\n      <td>2nd millennium BC</td>\n    </tr>\n    <tr>\n      <th>8</th>\n      <td>Recorded By:</td>\n      <td>Egyptian astronomers</td>\n    </tr>\n  </tbody>\n</table>'

Mars Hemispheres

In [123]:
driverPath = !which chromedriver
executable_path = {'executable_path': driverPath[0]}
browser = Browser('chrome', **executable_path, headless=False)


#https://astrogeology.usgs.gov/search/results?q=hemisphere+enhanced&k1=target&v1=Mars


## From slinter example:

# for x in range(1, 6):

#     # Splinter can capture a page's underlying html and use pass it to BeautifulSoup to allow us to scrape the content
#     html = browser.html
#     soup = BeautifulSoup(html, 'html.parser')

#     # Using BS, we can execute standard functions to capture the page's content
#     quotes = soup.find_all('span', class_='text')

#     # The below loop will print out the current page number and the quote's text
#     for quote in quotes:
#         print('page:', x, '-------------')
#         print(quote.text)

#     browser.click_link_by_partial_text('Next')

In [40]:
#hemisphere1  = soup.find("img", attrs = {"class": "wide-image"})

# Visting url througher splinter browser
url = 'https://astrogeology.usgs.gov/search/map/Mars/Viking/cerberus_enhanced'
browser.visit(url)

# Using Beatiful soup to parse the html in the designated url
html = browser.html
soup = BeautifulSoup(html, "html5")
# print(soup.prettify())

In [41]:
#hemisphere1  = soup.find("img", attrs = {"class": "wide-image"}) ??

# Getting image url
cerberus = soup.find('img', class_='wide-image')['src']
cerberus_url = ('https://astrogeology.usgs.gov/' + str(cerberus)) 
cerberus_url

'https://astrogeology.usgs.gov//cache/images/f5e372a36edfa389625da6d0cc25d905_cerberus_enhanced.tif_full.jpg'

In [ ]:
## ok,  I can do it for one -- just need to loop for all.

In [ ]:
hemisphere_image_urls = [
    {"title": "Valles Marineris Hemisphere", "img_url": "..."},
    {"title": "Cerberus Hemisphere", "img_url": "..."},
    {"title": "Schiaparelli Hemisphere", "img_url": "..."},
    {"title": "Syrtis Major Hemisphere", "img_url": "..."},
]